@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


header {
        background-color: turquoise;
        position: fixed;
        width: 100%;
}

header .container {
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.logo {
    height: 50px;
    width: 50px;
    background-image: url(penguin.svg);
}

.navlink {
    margin-left: 20px;
    transition: color 150mm ease;
}
.navlinks:hover{
    color: red;
}

a {
    text-decoration: none;

}
section { height: 100vh;}

section#hero {background-color: beige;}
section#portfolio {background-color: yellow;}
section#about {background-color: gray;}
section#skills {background-color:darkgreen;}

